<img src="raw\profile_manoelgadi.png" width=100 height=100 align="right">

Author: Manoel Gadi

Last revision: 19/July/2020

---

Welcome to the GROUP VIDEO starter code.

Your group task is to record a video of 10 - 15 minutes CLEANING DATA and DEVELOPING 2 MODELS using the RBA_KYC_Accounts_ALL_Ids.xlsx dataset. You should use Pandas, Matplotlib and Scikit Learn (Sklearn) libraries only if possible. Your video should include:

* A quick explanation of Pandas, Matplotlib and Sklearn, specially including their histories. (less than a minute)
* A quick Exploratory Data Analysis of the data set used.
* Using the EDA, explain the problems of data quality in this data set.
* Research about data preparation with Python. Propose and implement ways to clean, input missing and prepare the data for modelling. (YOUR VIDEO SHOULD FOCUS IN THIS PART - 70-80% OF THE VIDEO SHOULD BE ABOUT DATA CLEANING AND DATA PREPARATION)
* Then, develop one Regression model using rbaValue as target variable.  Remember to assess the model performance using an appropriate measure for regression. 
* Then, develop one binary Classification model using Risk_Description setting Risk_Description = Low as 0 and else 1 (Medium or High). Remember to assess your model performance using a appropriate measure for classification.

ps. please, don't improve the model, you don't need to make good one, simply do a quick one! This exercise is about explaining, in a video lecture, how to prepare the data for modelling , not about making a good model .

ps. You can apply any of the steps in the model development seing in the last class, but be coincious of time it may take to do it all, so avoid overcomplicating things.

Please find below couple videos from previous years (different data set and different objective) and from which you'll also learn some Python ideas:

* 2018 MBD01 Group E Variable Transformation - https://www.youtube.com/watch?v=j_0HQ2UF_L0
* 2019 - Risk & Fraud Analytics - Scikit Learn & Lending Club - Group C - https://www.youtube.com/watch?v=oTmHMXsksM8

---

### Importing the database: RBA_KYC_Accounts_ALL_Ids.xlsx

In [1]:
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer, SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.metrics import accuracy_score, f1_score, recall_score, matthews_corrcoef
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# https://dateutil.readthedocs.io/en/stable/relativedelta.html
from datetime import datetime
from dateutil.relativedelta import relativedelta, MO

In [2]:
# df = pd.read_excel('raw\RBA_KYC_Accounts_ALL_Ids.xlsx')

# For speed, we store the Excel file in a Pickle
# https://stackoverflow.com/a/17098736/3780957
# df.to_pickle('storage\RBA_KYC_Accounts_ALL_Ids.pkl')

In [3]:
df = pd.read_pickle('storage/RBA_KYC_Accounts_ALL_Ids.pkl')

In [4]:
df['Risk_Description'] = df['rba_grade_desc']
df.drop(['rba_grade_desc'], axis = 1, inplace = True)

## Checking some quick statistics

In [5]:
df.describe()

,org_code,branchCode,customerId,customerType,residentStatus,age_in_year,birthCountry,profession,companyType,lastUpdate,...,number_of_cash_dep_90_days,avg_cash_deposit_90_days,number_of_deposit_90_days,avg_of_dep_90_days,number_of_cash_wd_90_days,avg_of_cash_wd_90_days,number_of_wd_90_days,avg_of_wd_90_days,score_card_Desc,rbaValue
count,224868.0,224868.000000,2.248680e+05,224868.000000,224868.000000,220153.000000,0.0,79748.000000,114574.000000,0.0,...,224868.000000,2.248680e+05,224868.000000,2.248680e+05,224868.000000,2.248680e+05,224868.000000,2.248680e+05,0.0,224868.000000
mean,1.0,448.451323,4.394503e+16,1.114418,1.021221,41.310575,NaN,18.309487,49.857577,NaN,...,0.491422,-1.113435e+03,1.131437,-3.540383e+03,0.254305,4.763851e+02,0.868518,2.450953e+03,NaN,17.624194
std,0.0,228.193308,2.349321e+16,0.318319,0.144122,16.000536,NaN,6.586481,6.736115,NaN,...,5.335240,3.028084e+04,19.713739,9.151602e+04,1.175586,2.028110e+04,12.373992,5.819818e+04,NaN,8.368345
min,1.0,201.000000,2.020028e+09,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,NaN,...,0.000000,-5.482044e+06,0.000000,-1.654371e+07,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,4.080000
25%,1.0,208.000000,2.070207e+16,1.000000,1.000000,31.000000,NaN,20.000000,51.000000,NaN,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,13.330000
50%,1.0,401.000000,4.011205e+16,1.000000,1.000000,41.000000,NaN,20.000000,51.000000,NaN,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,16.530000
75%,1.0,701.000000,7.012410e+16,1.000000,1.000000,52.000000,NaN,21.000000,51.000000,NaN,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,21.330000
max,1.0,805.000000,8.052929e+16,2.000000,2.000000,119.000000,NaN,39.000000,100.000000,NaN,...,1267.000000,0.000000e+00,3292.000000,5.867291e+05,78.000000,8.394000e+06,2858.000000,9.942530e+06,NaN,100.000000

## Creating the variable creationDate_indays

In [6]:
df['creationDate_indays'] = df['creationDate'].astype('datetime64[ns]').max()-df['creationDate'].astype('datetime64[ns]') 
df['creationDate_indays'].head()

0   1295 days
1   1860 days
2   1860 days
3   1860 days
4   1860 days
Name: creationDate_indays, dtype: timedelta64[ns]

## Creating the variable date of birth

In [7]:
def f(end):
    global max_date
    try:
        r = relativedelta(max_date, end) 
        return(r.years)
    except:
        return(0)
#    r = relativedelta(pd.to_datetime('now'), end) 
#    return '{} years {} days'.format(r.years, r.days)

In [8]:
max_date = df['dateOfBirth'].astype('datetime64[ns]').max()
df['age'] = df['dateOfBirth'].astype('datetime64[ns]').apply(f)
df['age'].head()

0     0
1    29
2    29
3    29
4    29
Name: age, dtype: int64

## Checking for percentage (%) of missing values

In [9]:
100*df.isnull().sum()/df.isnull().count()

org_code                        0.000000
branchCode                      0.000000
customerId                      0.000000
fullaccount                     0.000000
customerType                    0.000000
creationDate                    0.000000
onboarding                      0.000000
residentStatus                  0.000000
residentCountry                 0.265044
nationalityOriginal             1.529342
extraNationality               99.202643
dateOfBirth                     2.096786
age_in_year                     2.096786
birthCountry                  100.000000
birthPlace                      9.713254
profession                     64.535639
companyType                    49.048331
giinCode                       99.994664
lastUpdate                    100.000000
status                          0.000000
ledgerCode                      0.000000
accountCurrency                 0.000000
jointAccount                    0.000000
IsBlackListed                   0.000000
CUS_CLASS                       0.000000
ECO_SEC                         0.000000
TYPE_OF_DEP                     0.000000
GENDER                         53.591885
LEGAL_STA_CODE                  1.163349
legal_Stat_desc               100.000000
avg_last_10_days                0.000000
avg_last_30_days                0.000000
avg_last_90_days                0.000000
number_of_cash_dep_90_days      0.000000
avg_cash_deposit_90_days        0.000000
number_of_deposit_90_days       0.000000
avg_of_dep_90_days              0.000000
number_of_cash_wd_90_days       0.000000
avg_of_cash_wd_90_days          0.000000
number_of_wd_90_days            0.000000
avg_of_wd_90_days               0.000000
date_of_assessment              0.000000
rbaGradeAbrv                    0.000000
score_card                      0.000000
score_card_Desc               100.000000
rbaValue                        0.000000
Risk_Description                0.000000
creationDate_indays             0.000000
age                             0.000000
dtype: float64

## Making some histograms

In [10]:
# %matplotlib inline
# import matplotlib.pylab as plt
# attribute_columns = list(df.columns)
# if True:
#     fontsize = 10
#     fig = df[attribute_columns].hist(bins = 20, figsize = (12, 12),
#                                        xlabelsize=fontsize,
#                                        ylabelsize=fontsize)
#     for x in fig.ravel():
#         x.title.set_size(fontsize)
# else:
#     nrows = (len(attribute_columns)+1) // 2
#     plt.figure(figsize=(12,25))
#     for i in range(len(attribute_columns)):
#         name = attribute_columns[i]
#         plt.subplot(nrows,2,i+1)
#         data[name].hist()
#         plt.title(name, fontsize=14)
    
# plt.show()

### Now, is your group turn: 
...

---

# Introduction

A quick explanation of Pandas, Matplotlib and Sklearn, specially including their histories. (less than a minute)
https://medium.com/personal-project/numpy-pandas-and-scikit-learn-explained-e7336baecedc

## Pandas
https://en.wikipedia.org/wiki/Pandas_(software)#History
Developer Wes McKinney started working on pandas in 2008 while at AQR Capital Management out of the need for a high performance, flexible tool to perform quantitative analysis on financial data. Before leaving AQR he was able to convince management to allow him to open source the library.
Another AQR employee, Chang She, joined the effort in 2012 as the second major contributor to the library.
In 2015, pandas signed on as a fiscally sponsored project of NumFOCUS, a 501(c)(3) nonprofit charity in the United States.[10]

## Matplotlib
https://en.wikipedia.org/wiki/Matplotlib
Matplotlib was originally written by John D. Hunter, since then it has an active development community,[4] and is distributed under a BSD-style license. Michael Droettboom was nominated as matplotlib's lead developer shortly before John Hunter's death in August 2012,[5] and further joined by Thomas Caswell.[6][7]


## Sklearn
https://en.wikipedia.org/wiki/Scikit-learn
The scikit-learn project started as scikits.learn, a Google Summer of Code project by David Cournapeau. Its name stems from the notion that it is a "SciKit" (SciPy Toolkit), a separately-developed and distributed third-party extension to SciPy.[4] The original codebase was later rewritten by other developers. In 2010 Fabian Pedregosa, Gael Varoquaux, Alexandre Gramfort and Vincent Michel, all from the French Institute for Research in Computer Science and Automation in Rocquencourt, France, took leadership of the project and made the first public release on February the 1st 2010.[5] Of the various scikits, scikit-learn as well as scikit-image were described as "well-maintained and popular" in November 2012.[6] Scikit-learn is one of the most popular machine learning libraries on GitHub.[7]

# EDA

In [11]:
# Datetime conversion

df['creationDate'] = df['creationDate'].astype('datetime64[ns]')
df['dateOfBirth'] = df['dateOfBirth'].astype('datetime64[ns]')
df['date_of_assessment'] = df['date_of_assessment'].astype('datetime64[ns]')

## Description per type

In [12]:
df.describe(include='object')

,fullaccount,onboarding,residentCountry,nationalityOriginal,extraNationality,birthPlace,giinCode,status,accountCurrency,rbaGradeAbrv,score_card,Risk_Description
count,224868,224868,224272,221429,1793,203026,12,224868,224868,224868,224868,224868
unique,220434,2,62,67,35,1000,1,1,20,3,4,3
top,020902507770010010000,N,JO,JO,US,????,ZLVK2E.99999.SL.400,Active,JOD,L,I-Existing,Low
freq,26,219791,219253,213141,1028,76312,12,224868,214657,159680,178495,159680

In [13]:
df.describe(include=np.number)

,org_code,branchCode,customerId,customerType,residentStatus,age_in_year,birthCountry,profession,companyType,lastUpdate,...,number_of_deposit_90_days,avg_of_dep_90_days,number_of_cash_wd_90_days,avg_of_cash_wd_90_days,number_of_wd_90_days,avg_of_wd_90_days,score_card_Desc,rbaValue,creationDate_indays,age
count,224868.0,224868.000000,2.248680e+05,224868.000000,224868.000000,220153.000000,0.0,79748.000000,114574.000000,0.0,...,224868.000000,2.248680e+05,224868.000000,2.248680e+05,224868.000000,2.248680e+05,0.0,224868.000000,224868,224868.000000
mean,1.0,448.451323,4.394503e+16,1.114418,1.021221,41.310575,NaN,18.309487,49.857577,NaN,...,1.131437,-3.540383e+03,0.254305,4.763851e+02,0.868518,2.450953e+03,NaN,17.624194,2419 days 01:19:10.178785,39.279640
std,0.0,228.193308,2.349321e+16,0.318319,0.144122,16.000536,NaN,6.586481,6.736115,NaN,...,19.713739,9.151602e+04,1.175586,2.028110e+04,12.373992,5.819818e+04,NaN,8.368345,2410 days 07:14:32.396639,16.859899
min,1.0,201.000000,2.020028e+09,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,NaN,...,0.000000,-1.654371e+07,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,4.080000,0 days 00:00:00,0.000000
25%,1.0,208.000000,2.070207e+16,1.000000,1.000000,31.000000,NaN,20.000000,51.000000,NaN,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,13.330000,731 days 00:00:00,29.000000
50%,1.0,401.000000,4.011205e+16,1.000000,1.000000,41.000000,NaN,20.000000,51.000000,NaN,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,16.530000,1739 days 00:00:00,39.000000
75%,1.0,701.000000,7.012410e+16,1.000000,1.000000,52.000000,NaN,21.000000,51.000000,NaN,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,21.330000,3065 days 00:00:00,50.000000
max,1.0,805.000000,8.052929e+16,2.000000,2.000000,119.000000,NaN,39.000000,100.000000,NaN,...,3292.000000,5.867291e+05,78.000000,8.394000e+06,2858.000000,9.942530e+06,NaN,100.000000,14644 days 00:00:00,118.000000

In [14]:
df.describe(include=np.datetime64)

               creationDate          dateOfBirth   date_of_assessment
count                224868               220153               224868
unique                 7041                21457                    1
top     2013-11-20 00:00:00  1992-07-22 00:00:00  2019-01-24 00:00:00
freq                   1079                 1035               224868
first   1978-09-17 00:00:00  1900-06-01 00:00:00  2019-01-24 00:00:00
last    2018-10-21 00:00:00  2018-10-15 00:00:00  2019-01-24 00:00:00

In [15]:
cat_columns = df.select_dtypes(include=['object'])
for col in cat_columns:
    print("VARIABLE =", col)
    print(df[col].value_counts())
    print('\n'*2)

VARIABLE = fullaccount
020902507770010010000    26
020301298000012957000    23
020301298000011316000    23
020301298000011306000    23
020301298000011930001    23
                         ..
040212286570011355002     1
020600866190010060000     1
080500705260010060000     1
040212293080010060000     1
080226320350010010000     1
Name: fullaccount, Length: 220434, dtype: int64



VARIABLE = onboarding
N    219791
Y      5077
Name: onboarding, dtype: int64



VARIABLE = residentCountry
JO    219253
OM       985
IQ       981
SA       657
US       358
       ...
TH         2
SO         1
LR         1
NG         1
AF         1
Name: residentCountry, Length: 62, dtype: int64



VARIABLE = nationalityOriginal
JO    213141
IQ      3206
EG      1349
SY      1215
LY       433
       ...
SG         1
BG         1
IO         1
TH         1
LR         1
Name: nationalityOriginal, Length: 67, dtype: int64



VARIABLE = extraNationality
US    1028
XK     435
CA      45
GB      42
JO      34
CO      20
AU      17
BA      15
FR      15
IQ      14
EG      14
IT      12
SE      12
UA      11
RO      10
ES       8
TR       6
GR       5
CH       5
PL       5
NL       4
SA       4
BR       4
BG       4
BH       3
CL       3
NO       3
CY       3
LY       3
SY       3
RU       2
VE       1
LB       1
BE       1
IO       1
Name: extraNationality, dtype: int64



VARIABLE = birthPlace
????                76312
?????               38740
??????              29904
???????             19465
????????             7690
                    ...
Jaban                   1
????? ???? ?????        1
?????? ??? ?????        1
LONDON CAN              1
HYDERABAD PAK           1
Name: birthPlace, Length: 1000, dtype: int64



VARIABLE = giinCode
ZLVK2E.99999.SL.400    12
Name: giinCode, dtype: int64



VARIABLE = status
Active    224868
Name: status, dtype: int64



VARIABLE = accountCurrency
JOD    214657
USD      8478
EUR      1079
GBP       254
AED        93
CAD        81
SAR        60
JPY        41
CHF        40
AUD        37
XAG        15
XAU        11
SEK         9
QAR         4
NZD         3
DKK         2
LBP         1
ESP         1
KWD         1
BHD         1
Name: accountCurrency, dtype: int64



VARIABLE = rbaGradeAbrv
L    159680
M     65099
H        89
Name: rbaGradeAbrv, dtype: int64



VARIABLE = score_card
I-Existing    178495
E-Existing     25114
I-New          20649
E-NEW            610
Name: score_card, dtype: int64



VARIABLE = Risk_Description
Low       159680
Medium     65099
High          89
Name: Risk_Description, dtype: int64

Correct the missings varints in the 'birthPlace'

In [16]:
out = []
for val in df['birthPlace']:
    try:
        if val.find('?')>=0 or val.strip()=='0':
            out.append('-')
        else:
            out.append(val.strip().upper())
    except:
        out.append(val)

# pd.Series(out).value_counts()
df['birthPlace'] = out

In [17]:
num_columns = df.select_dtypes(include=['int64', 'float64']).columns
df[num_columns].describe().T

# for col in num_columns:
#     print("VARIABLE = ", col)
#     print(df[col].describe())
#     print('\n'*2)

,count,mean,std,min,25%,50%,75%,max
org_code,224868.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
branchCode,224868.0,4.484513e+02,2.281933e+02,2.010000e+02,2.080000e+02,4.010000e+02,7.010000e+02,8.050000e+02
customerId,224868.0,4.394503e+16,2.349321e+16,2.020028e+09,2.070207e+16,4.011205e+16,7.012410e+16,8.052929e+16
customerType,224868.0,1.114418e+00,3.183193e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
residentStatus,224868.0,1.021221e+00,1.441218e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
age_in_year,220153.0,4.131057e+01,1.600054e+01,1.000000e+00,3.100000e+01,4.100000e+01,5.200000e+01,1.190000e+02
birthCountry,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profession,79748.0,1.830949e+01,6.586481e+00,1.000000e+00,2.000000e+01,2.000000e+01,2.100000e+01,3.900000e+01
companyType,114574.0,4.985758e+01,6.736115e+00,1.000000e+00,5.100000e+01,5.100000e+01,5.100000e+01,1.000000e+02
lastUpdate,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ledgerCode,224868.0,1.059329e+03,1.280875e+03,1.000000e+01,2.000000e+01,1.302000e+03,1.396000e+03,8.700000e+03
jointAccount,224868.0,2.165270e-02,1.455471e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
IsBlackListed,224868.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
CUS_CLASS,224868.0,3.765231e+00,4.305015e+00,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,5.100000e+01
ECO_SEC,224868.0,8.938863e+01,2.940685e+01,0.000000e+00,9.000000e+01,9.000000e+01,9.000000e+01,3.920000e+02
TYPE_OF_DEP,224868.0,3.550901e+01,1.549185e+01,0.000000e+00,2.000000e+01,3.500000e+01,5.100000e+01,1.000000e+02
GENDER,104357.0,1.250975e+00,4.335762e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00
LEGAL_STA_CODE,222252.0,1.193564e+00,5.281911e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
legal_Stat_desc,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
avg_last_10_days,224868.0,7.832261e+03,1.325116e+06,-1.791005e+08,0.000000e+00,0.000000e+00,6.914525e+02,1.531514e+08
avg_last_30_days,224868.0,1.988950e+03,3.344322e+05,-4.513426e+07,0.000000e+00,0.000000e+00,1.826150e+02,3.859913e+07
avg_last_90_days,224868.0,1.887138e+01,3.685041e+03,-4.856867e+05,0.000000e+00,0.000000e+00,1.100000e+00,4.150444e+05
number_of_cash_dep_90_days,224868.0,4.914216e-01,5.335240e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.267000e+03
avg_cash_deposit_90_days,224868.0,-1.113435e+03,3.028084e+04,-5.482044e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
number_of_deposit_90_days,224868.0,1.131437e+00,1.971374e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.292000e+03
avg_of_dep_90_days,224868.0,-3.540383e+03,9.151602e+04,-1.654371e+07,0.000000e+00,0.000000e+00,0.000000e+00,5.867291e+05
number_of_cash_wd_90_days,224868.0,2.543047e-01,1.175586e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.800000e+01
avg_of_cash_wd_90_days,224868.0,4.763851e+02,2.028110e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.394000e+06
number_of_wd_90_days,224868.0,8.685184e-01,1.237399e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.858000e+03
avg_of_wd_90_days,224868.0,2.450953e+03,5.819818e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.942530e+06
score_card_Desc,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rbaValue,224868.0,1.762419e+01,8.368345e+00,4.080000e+00,1.333000e+01,1.653000e+01,2.133000e+01,1.000000e+02
age,224868.0,3.927964e+01,1.685990e+01,0.000000e+00,2.900000e+01,3.900000e+01,5.000000e+01,1.180000e+02

## Remove fully NA columns

In [18]:
# df.info()

In [19]:
# Drop columns where all the values are missing or null
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html
df.dropna(axis='columns', how='all', inplace=True)

In [20]:
# df.info()
# 100*df.isnull().sum()/df.isnull().count()

## Imputation and Scaling

There are [several ways of imputing missing values](https://scikit-learn.org/stable/modules/impute.html#multivariate-feature-imputation). I'd like to use a multivariate approach, which is much better than univariate methods (imputing by the mean, etc.). To do so, I will use the methods available in `scikit-learn` library ([here](https://scikit-learn.org/stable/modules/impute.html#multivariate-feature-imputation)).

In [21]:
df.select_dtypes(include=np.number)

,org_code,branchCode,customerId,customerType,residentStatus,age_in_year,profession,companyType,ledgerCode,jointAccount,...,avg_cash_deposit_90_days,number_of_deposit_90_days,avg_of_dep_90_days,number_of_cash_wd_90_days,avg_of_cash_wd_90_days,number_of_wd_90_days,avg_of_wd_90_days,rbaValue,creationDate_indays,age
0,1,201,20100400550000072,2,1,NaN,NaN,35.0,5817,0,...,0.0,0,0.0,0,0.0,0,0.0,13.20,1295 days,0
1,1,202,20200207860000638,1,1,30.0,27.0,NaN,1330,0,...,0.0,0,0.0,0,0.0,0,0.0,16.93,1860 days,29
2,1,202,20200207860000638,1,1,30.0,27.0,NaN,1389,0,...,0.0,0,0.0,0,0.0,0,0.0,16.93,1860 days,29
3,1,202,20200207860000638,1,1,30.0,27.0,NaN,60,0,...,-550.0,4,-550.0,1,50.0,1,50.0,16.93,1860 days,29
4,1,202,20200207860000638,1,1,30.0,27.0,NaN,10,0,...,-540.0,4,-540.0,1,56.0,1,56.0,16.93,1860 days,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224863,1,404,40400811920003507,1,1,66.0,NaN,NaN,20,0,...,0.0,0,0.0,0,0.0,0,0.0,16.53,364 days,65
224864,1,202,20200577640010547,2,1,13.0,NaN,35.0,5300,0,...,0.0,0,0.0,0,0.0,0,0.0,57.60,5199 days,12
224865,1,502,50220271300005255,1,1,41.0,NaN,51.0,2980,0,...,0.0,0,0.0,0,0.0,0,0.0,14.53,6633 days,40
224866,1,704,70424500690004664,1,1,70.0,NaN,NaN,1396,0,...,0.0,0,0.0,0,0.0,0,0.0,24.53,3931 days,69
224867,1,209,20900444790003021,1,1,32.0,NaN,51.0,1396,0,...,0.0,0,0.0,0,0.0,0,0.0,22.88,1103 days,31

https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html

A more sophisticated approach is to use the IterativeImputer class, which models each feature with missing values as a function of other features, and uses that estimate for imputation. It does so in an iterated round-robin fashion: at each step, a feature column is designated as output y and the other feature columns are treated as inputs X. A regressor is fit on (X, y) for known y. Then, the regressor is used to predict the missing values of y. This is done for each feature in an iterative fashion, and then is repeated for max_iter imputation rounds. The results of the final imputation round are returned.

In [22]:
num_imputer = IterativeImputer(max_iter=10, random_state=0)
num_columns = df.select_dtypes(include=['int64', 'float64']).columns
num_feats = num_imputer.fit_transform(df[num_columns])
num_feats = pd.DataFrame(data=num_feats, columns=num_columns)

To perform imputaton on categorical variables, I decided to use a method provided by the library `sklearn_pandas` that implements a `CategoricalImputer`.

https://github.com/scikit-learn-contrib/sklearn-pandas

Since the scikit-learn Imputer transformer currently only works with numbers, sklearn-pandas provides an equivalent helper transformer that works with strings, substituting null values with the most frequent value in that column. Alternatively, you can specify a fixed value to use.

Alternative
https://stackoverflow.com/questions/42846345/sklearn-categorical-imputer  
https://github.com/scikit-learn-contrib/sklearn-pandas  
https://scikit-learn.org/stable/modules/impute.html

In [23]:
cat_imputer = SimpleImputer(strategy="most_frequent")
cat_columns = df.select_dtypes(include=['object', 'datetime64']).columns
cat_feats = cat_imputer.fit_transform(df[cat_columns])
cat_feats = pd.DataFrame(data=cat_feats, columns=cat_columns)

Feature engineering for the dates

In [24]:
df_time = pd.DataFrame()
for col in df.select_dtypes(include=['datetime64']):
    df_time['{}_year'.format(col)] = df[col].dt.year
    df_time['{}_month'.format(col)] = df[col].dt.month
    df_time['{}_day'.format(col)] = df[col].dt.day
    df_time['{}_dayofyear'.format(col)] = df[col].dt.dayofyear

Finally, the result of imputing both: numerical and categorical, is now merged together in a single Dataset (or you can also use a dataframe, if you prefer).

In [25]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
# date_columns = df.select_dtypes(include=['datetime64']).columns
df = pd.concat([cat_feats, num_feats, df_time], axis=1, sort=False)

Scale all the numeric values, at this point.

In [26]:
# https://stackoverflow.com/a/36475297/3780957

num_columns = df.select_dtypes(include=['int64', 'float64']).columns

scaler = StandardScaler()
df[num_columns] = scaler.fit_transform(df[num_columns])

Now, my dataset is ready to be analyzed. Lots of categorical and numerical variables.

In [27]:
df.describe()

,org_code,branchCode,customerId,customerType,residentStatus,age_in_year,profession,companyType,ledgerCode,jointAccount,...,creationDate_day,creationDate_dayofyear,dateOfBirth_year,dateOfBirth_month,dateOfBirth_day,dateOfBirth_dayofyear,date_of_assessment_year,date_of_assessment_month,date_of_assessment_day,date_of_assessment_dayofyear
count,224868.0,2.248680e+05,2.248680e+05,2.248680e+05,2.248680e+05,2.248680e+05,2.248680e+05,2.248680e+05,2.248680e+05,2.248680e+05,...,2.248680e+05,2.248680e+05,2.201530e+05,2.201530e+05,2.201530e+05,2.201530e+05,224868.0,224868.0,224868.0,224868.0
mean,0.0,-3.367415e-13,4.082475e-14,-1.266870e-13,1.632239e-13,1.110232e-15,1.199278e-14,-9.451181e-14,5.498509e-15,2.906594e-15,...,1.906912e-16,-4.154938e-16,-6.999134e-15,-1.751600e-15,1.600596e-16,-5.817623e-16,0.0,0.0,0.0,0.0
std,0.0,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,...,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,0.0,0.0,0.0,0.0
min,0.0,-1.084396e+00,-1.870545e+00,-3.594457e-01,-1.472462e-01,-1.920943e+01,-1.951664e+01,-4.467498e+00,-8.192297e-01,-1.487680e-01,...,-1.681182e+00,-1.735944e+00,-4.855437e+00,-1.439436e+00,-1.363282e+00,-1.524098e+00,0.0,0.0,0.0,0.0
25%,0.0,-1.053720e+00,-9.893499e-01,-3.594457e-01,-1.472462e-01,-6.082610e-01,-2.000604e-01,-1.002983e+00,-8.114225e-01,-1.487680e-01,...,-8.918733e-01,-8.764719e-01,-6.680682e-01,-8.794958e-01,-9.323887e-01,-8.818017e-01,0.0,0.0,0.0,0.0
50%,0.0,-2.079440e-01,-1.631530e-01,-3.594457e-01,-1.472462e-01,-2.369797e-02,5.024747e-02,1.499323e-01,1.894578e-01,-1.487680e-01,...,1.019383e-02,-7.342251e-03,1.941033e-02,-3.958569e-02,-7.060222e-02,-2.239115e-02,0.0,0.0,0.0,0.0
75%,0.0,1.106734e+00,1.114327e+00,-3.594457e-01,-1.472462e-01,6.777777e-01,4.556385e-01,9.977565e-01,2.628453e-01,-1.487680e-01,...,9.122610e-01,8.521304e-01,6.443908e-01,8.003245e-01,7.911843e-01,8.460658e-01,0.0,0.0,0.0,0.0
max,0.0,1.562489e+00,1.557230e+00,2.782061e+00,6.791346e+00,4.594350e+00,8.158039e+00,4.273962e+00,5.965209e+00,6.721876e+00,...,1.701570e+00,1.788859e+00,2.519332e+00,1.640235e+00,1.868417e+00,1.777848e+00,0.0,0.0,0.0,0.0

In [28]:
100*df.isnull().sum()/df.isnull().count()

fullaccount                     0.000000
creationDate                    0.000000
onboarding                      0.000000
residentCountry                 0.000000
nationalityOriginal             0.000000
extraNationality                0.000000
dateOfBirth                     0.000000
birthPlace                      0.000000
giinCode                        0.000000
status                          0.000000
accountCurrency                 0.000000
date_of_assessment              0.000000
rbaGradeAbrv                    0.000000
score_card                      0.000000
Risk_Description                0.000000
org_code                        0.000000
branchCode                      0.000000
customerId                      0.000000
customerType                    0.000000
residentStatus                  0.000000
age_in_year                     0.000000
profession                      0.000000
companyType                     0.000000
ledgerCode                      0.000000
jointAccount                    0.000000
IsBlackListed                   0.000000
CUS_CLASS                       0.000000
ECO_SEC                         0.000000
TYPE_OF_DEP                     0.000000
GENDER                          0.000000
LEGAL_STA_CODE                  0.000000
avg_last_10_days                0.000000
avg_last_30_days                0.000000
avg_last_90_days                0.000000
number_of_cash_dep_90_days      0.000000
avg_cash_deposit_90_days        0.000000
number_of_deposit_90_days       0.000000
avg_of_dep_90_days              0.000000
number_of_cash_wd_90_days       0.000000
avg_of_cash_wd_90_days          0.000000
number_of_wd_90_days            0.000000
avg_of_wd_90_days               0.000000
rbaValue                        0.000000
age                             0.000000
creationDate_year               0.000000
creationDate_month              0.000000
creationDate_day                0.000000
creationDate_dayofyear          0.000000
dateOfBirth_year                2.096786
dateOfBirth_month               2.096786
dateOfBirth_day                 2.096786
dateOfBirth_dayofyear           2.096786
date_of_assessment_year         0.000000
date_of_assessment_month        0.000000
date_of_assessment_day          0.000000
date_of_assessment_dayofyear    0.000000
dtype: float64

In [29]:
# Drop rows with NA

df.dropna(axis='rows', how='any', inplace=True)

# Regression model

Develop one Regression model using rbaValue as target variable. Remember to assess the model performance using an appropriate measure for regression.

In [30]:
y = df['rbaValue']
X = df.drop('rbaValue', axis=1)

In [31]:
X = OneHotEncoder(drop='first').fit_transform(X)

In [32]:
# https://github.com/renero/class_notebooks/blob/master/Linear%20regression.ipynb

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lm = linear_model.LinearRegression()
lm.fit(X_train, y_train)
y_pred = lm.predict(X_test)

print('Intercept:', lm.intercept_)
print('Coefficients:', lm.coef_)
print('Mean squared error (MSE): {:.2f}'.format(mean_squared_error(y_test, y_pred)))
print('Variance score (R2): {:.2f}'.format(r2_score(y_test, y_pred)))

Intercept: 2.599457280549014
Coefficients: [ 0.03112784  0.01856844  0.00262309 ... -0.02117579  0.01631475
 -0.07014494]
Mean squared error (MSE): 0.04
Variance score (R2): 0.96

# Classification model

Develop one binary Classification model using Risk_Description setting Risk_Description = Low as 0 and else 1 (Medium or High). Remember to assess your model performance using a appropriate measure for classification.

In [33]:
# Merge the categories 'Medium' and 'High'
y = df['Risk_Description']
y = [0 if x=='Low' else 1 for x in y]
# pd.Series(y).value_counts()

X = df.drop('Risk_Description', axis=1)

In [34]:
X = OneHotEncoder(drop='first').fit_transform(X)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lr = LogisticRegression().fit(X_train, y_train)
y_hat = lr.predict(X_test)

accuracy = accuracy_score(y_test, y_hat)
F1 = f1_score(y_test, y_hat)
recall = recall_score(y_test, y_hat)
MCC = matthews_corrcoef(y_test, y_hat)

print('Accuracy:', accuracy)
print('F1:', F1)
print('Recall:', recall)
print('MCC:', MCC)

Accuracy: 1.0
F1: 1.0
Recall: 1.0
MCC: 1.0

In [36]:
1+1

2